body{
    margin: 0;
    padding: 0;
    background: rgba(206, 214, 224,1.0);
    font-family: 'Tajawal', sans-serif !important;
}

.content-wrapper{
    width: 56%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    border-radius: 0 !important;
}

.card-header{
    border-radius: 0 !important;
    background: rgba(70, 91, 117, 0.9);
}

.card-header h2{
    color: white !important;
    margin: 0;
    padding: 10px 0;
    font-size: 26pt;
    text-align: center;
}

.card-footer p{
    margin: 0;
    padding: 5px;
    font-size: 12pt;
    color: rgb(66, 88, 116);
}

.btn{
    background: rgba(70, 91, 117, 0.9);
    color: white;
    font-size: 14pt;
    letter-spacing: 2px;
    border: 1px solid rgb(59, 76, 99);
    padding: 5px 15px;
}

.btn:hover{
    background: transparent;
    color: rgb(70, 91, 117);
}

.btn:focus{
    outline: none !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2) !important;
}

.bck{
    position: absolute;
    top: 8%;
    left: 6%;
}

.bck a{
    text-decoration: none;
}

.list-group-item{
    text-align: center !important;
    color: rgb(66, 88, 116);
    font-size: 14pt;
    font-weight: 700;
    border-radius: 0 !important;
    padding: 20px 5px !important;
}

.list-group-item:nth-child(odd){
    background: #ecf0f1 !important;
}

.list-group-item:nth-child(even){
    background: white !important;
}

.accordion-wrapper{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
}

.srdbtn{
    width: 100%;
    outline: 0 !important;
    background: #d2dae2;
    color: rgb(57, 75, 97);
    font-size: 15pt;
    font-weight: 700;
    letter-spacing: 2px;
    border: none !important;
    padding: 12px 0;
}

.accordion-inner-content{
    margin: 25px 0 10px 0;
    width: 100%;
}

.accordion-inner-content h4{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    font-size: 15pt;
    word-spacing: 2px;
    text-align: center;
}

.accordion-inner-content p{
    width: 100%;
    overflow: hidden;
    margin: 12px 0 0 0;
    padding: 5px;
    word-spacing: 5px;
    line-height: 30px;
    font-size: 13pt;
}

.table th{
    background: rgba(70, 91, 117, 0.9) !important;
    color: white !important;
    font-size: 14pt;
    text-align: center;
}

.table td{
    font-size: 12pt;
    color: rgb(57, 75, 97);
    text-align: center;
}

/* Media Query */

@media all and (max-width: 1600px){
    .card-header h2{
        font-size: 20pt;
    }
    .srdbtn{
        font-size: 14pt;
    }
    .accordion-inner-content h4{
        font-size: 14pt;
    }
    .accordion-inner-content p{
        font-size: 12pt;
    }
}

@media all and (max-width: 1400px){
    .content-wrapper{
        width: 62%;
        margin-bottom: 15px;
    }
    .card-header h2{
        font-size: 18pt;
    }
    .srdbtn{
        font-size: 13pt;
    }
    .accordion-inner-content h4{
        font-size: 13pt;
    }
    .list-group-item{
        border-radius: 0 !important;
        padding: 15px 0px !important;
    }
}

@media all and (max-width: 1200px){
    .content-wrapper{
        width: 72%;
        margin-top: 110px;
    }
    .bck{
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .table th{
        font-size: 13pt;
    }
}

@media all and (max-width: 1000px){
    .content-wrapper{
        width: 84%;
    }
    .card-header h2{
        font-size: 16pt;
    }
}

@media all and (max-width: 800px){
    .content-wrapper{
        width: 95%;
    }
    .list-group-item{
        font-size: 13pt;
        border-radius: 0 !important;
        padding: 14px 0px !important;
    }

    .table th{
        font-size: 12pt;
    }
    .card-footer p{
        font-size: 11pt;
    }
}

@media all and (max-width: 500px){
    .btn{
        font-size: 13pt;
    }
    .srdbtn{
        font-size: 12pt;
    }
    .accordion-inner-content h4{
        font-size: 12pt;
    }
    .accordion-inner-content p{
        font-size: 11.5pt;
    }
    .table-body{
        padding: 2px !important;
        overflow-x: auto !important;
    }
}